body{
    background-color: #152226;
    color: #808080;
    letter-spacing: 0.1rem;
}

html{
    scroll-behavior: smooth;
}

.header-menu{
    font-family: 'Poppins', sans-serif;
}

.header-menu .navbar-brand{
    font-size: 40px;
    color: #707070;
}

.header-menu .navbar-nav .nav-link{
    font-size:30px;
    font-weight: 400;
    color: #707070;
}

.header-menu .navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar-collapse{
    text-align: center;
}

.header-menu .navbar-nav  .button:hover{
    background: white;
}

.main{
    font-family: 'Poppins', sans-serif;
    font-size: 140px;
    text-align: center;
    letter-spacing: 0.5rem;
    margin-top: 7rem;
}

.tag{
    font-family: 'Nixie One', cursive;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.1rem;
    margin-top: -2rem;
}
h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
}

.row{
    text-align: center;
}

.btn-danger{
    font-family: 'Poppins', sans-serif;
    background-color: #93171A;
    border: none;
    border-radius: 1rem;
    color: #707070;
    font-size: 35px;
}

.card{
    font-family: 'Poppins', sans-serif;
    background-color: #152226;
    border: none;
}

.form-control{
    background-color: #152226;
}

.btn-dang{
    font-family: 'Poppins', sans-serif;
    background-color: #93171A;
    border: none;
    border-radius: 1rem;
    color: #707070;
    font-size: 20px;
}

.btn-dang:hover{
    color: white;
    background-color: #c82333;
}

footer{
    left: 0;
    bottom: 0;
    margin-top: 10.6rem;
    width: 100%;
    background-color: #707070;
}
@media (max-width: 575.98px) { 
    .don{
        margin-top: 3rem;
    }
    .card{
        border: 1px solid rgb(82, 17, 17);
        border-radius: 1rem;
        margin-top: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .don{
        margin-top: 3rem;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .don{
        margin-top: 3rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .don{
        margin-top: 3rem;
    }
 }

