body{
    background-color: #152226;
    color: #808080;
    letter-spacing: 0.1rem;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header-menu{
    font-family: 'Poppins', sans-serif;
}

.header-menu .navbar-brand{
    font-size: 40px;
    color: #707070;
}

.header-menu .navbar-nav .nav-link{
    font-size:30px;
    font-weight: 400;
    color: #707070;
}

.header-menu .navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar-collapse{
    text-align: center;
}

.header-menu .navbar-nav  .button:hover{
    background: white;
}

.card{
    background-color: #152226;
    color: #808080;
    border: 1px solid #c82333;
}

.btn-danger{
    background-color: #93171A;
    border: none;
    border-radius: 1rem;
    color: #a59c9c;
    text-align: center;
}

.btn-dang{
    background-color: #93171A;
    border: none;
    border-radius: 1rem;
    color: #a59c9c;
    font-size: 20px;
    margin-left: 29rem;
}
.btn-dang:hover{
    color: white;
    background-color: #c82333;
}

.card-header{
    font-size: 35px;
    border: 1px solid rgb(82, 17, 17);
}

.card-footer{
    color: #707070;
    border: 1px solid #c82333;
}

h2{
    text-align: center;
}

footer{
    left: 0;
    bottom: 0;
    margin-top: 4.4rem;
    width: 100%;
    background-color: #707070;
}
@media (max-width: 575.98px) { 
    .btn-dang{
        margin-left: 8rem;
    }
    iframe{
        height: 200px;
        width: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-dang{
        margin-left: 15.5rem;
    }
    iframe{
        height: 250px;
        width: 500px;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
    .btn-dang{
        margin-left: 26rem;
    }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) {
    .btn-dang{
        margin-left: 26rem;
    }
 }