body{
    background-color: #152226;
    color: #808080;
    letter-spacing: 0.1rem;
}

html{
    scroll-behavior: smooth;
}

.header-menu{
        font-family: 'Poppins', sans-serif;
}

.header-menu .navbar-brand{
    font-size: 40px;
    color: #707070;
}

.header-menu .navbar-nav .nav-link{
    font-size:30px;
    font-weight: 400;
    color: #707070;
}

.header-menu .navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar-collapse{
    text-align: center;
}

.header-menu .navbar-nav  .button:hover{
    background: white;
}

.main{
    font-family: 'Poppins', sans-serif;
    font-size: 8.75rem;
    text-align: center;
    letter-spacing: 0.5rem;
}

.tag{
    font-family: 'Nixie One', cursive;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.1rem;
    margin-top: -2rem;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: underline;
}

.para{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
}

.p{
    text-align: center;
    font-size: 25px;
}
.note{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 700 ;
    font-size: 25px ;
    text-align: center;
    font-weight: bold ;
    font-size: 30px ;
}

.btn-danger{
    background-color: #93171A;
    border: none;
    border-radius: 1rem;
    color: #707070;
    font-size: 35px;
}

.card{
    background-color: #152226;
}

footer{
    left: 0;
    bottom: 0;
    margin-top: 4.4rem;
    width: 100%;
    background-color: #707070;
}
