body{
    background-color: #152226;
    color: #707070;
}

.header-menu{
    font-family: 'Poppins', sans-serif;
}

.header-menu .navbar-brand{
    font-size: 40px;
    color: #707070;
}

.header-menu .navbar-nav .nav-link{
    font-size:30px;
    font-weight: 400;
    color: #707070;
}

.header-menu .navbar-expand-lg .navbar-collapse{
    justify-content:  flex-end;
}

.header-menu .navbar-nav  .button:hover{
    background: white;
}

.main{
    font-size: 140px;
    text-align: center;
    letter-spacing: 0.5rem;
}

.tag{
    font-family: 'Nixie One', cursive;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.1rem;
    margin-top: -2rem;
}
h1{
    text-align: center;
    letter-spacing: 0.1rem;
}

.row{
    text-align: center;
}

.btn-danger{
    background-color: #93171A;
    border: none;
    border-radius: 1rem;
    color: #707070;
    font-size: 35px;
}

.card{
    background-color: #152226;
}

footer{
    height: 40px;
    margin-top: 4rem;
}

.login-container{
    margin-top:199px;
    margin-left: 90px;
    border-radius: 40px;
    border: 1px solid;
    color:#707070;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #93171A;
}
.login-form-2 h3{
    text-align: center;
    color: #707070;
    margin-top: 98px;
    margin-bottom: 98px;
    
}
.login-form-1 {
    text-align: center;
    color: #707070;
    margin-top: 98px;
    margin-bottom: 98px;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.form-control {
       border-bottom: #93171A;
       border: none;
}
